.searchResultsContainer {
    padding-bottom: 35px;
    padding-top: 30px;
}

.backgroundContainer {
    text-align: -webkit-center;
    background-color: dimgrey;
    margin: 0px;
    color: white;
    height: 55vh;
    padding-top: 20vh;
    vertical-align: middle;
}

.rt-tr-group .rt-tr {
    align-items: center;
}

.backgroundMessage {
    margin-left: 5px;
    padding-top: 10px;
}

.jumbotron .errorMessage, .jumbotron .infoMessage {
    font-size: 15px;
}

.emptyBackground {
    background-color: #eee;
}

.errorMessage {
    color: #FF4136;
}

.searchResultsContainer .glyphicon {
    font-size: 50px;
}

.smallLoading {
    padding-top: 20px;
    padding-bottom: 20px;
}

.smallLoading > h4 {
    padding: 10px 10px;
}
