.searchResultsContainer {
    padding-bottom: 35px;
    padding-top: 30px;
}

.searchResultsContainer .table > tbody > tr > td {
    vertical-align: middle;
}

.searchResultsContainer .table > thead > tr > th {
    text-align: center;
}

.backgroundContainer {
    text-align: -webkit-center;
    background-color: dimgrey;
    margin: 0px;
    color: white;
    height: 55vh;
    padding-top: 20vh;
}

.backgroundMessage {
    margin-left: 5px;
    padding-top: 10px;
}

.jumbotron .errorMessage, .jumbotron .infoMessage {
    font-size: 15px;
}

.emptyBackground {
    background-color: #eee;
}

.errorMessage {
    color: #FF4136;
}

.searchResultsContainer .glyphicon {
    font-size: 50px;
}