body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.backgroundMessage {
    margin-left: 5px;
    padding-top: 10px;
}

.jumbotron .errorMessage, .jumbotron .infoMessage {
    font-size: 15px;
}

.rt-tr-group .rt-tr {
    align-items: center;
}
